header {
    background-color: rgb(255, 196, 245);
    height: 9%;
}

main {
    height: 90%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: chartreuse;
}

footer {
    background-color: rgb(95, 173, 192);
}

.negrita {
    font-weight: bold;
}