header {
    background-color: bisque;
    height: 9%;
}

main {
    height: 90%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: chartreuse;
}

footer {
    background-color: rgb(95, 173, 192);
}